<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wpt.mydemos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning"
            tools:replace="android:allowBackup">
        <activity android:name=".drag.DragActivity"/>
        <activity android:name=".drag2.Drag2Activity"/>
        <activity android:name=".animator.AnimatorActivity">
        </activity>
        <activity android:name=".okhttp.OkHttpActivity">
        </activity>
        <activity
                android:name=".edit.VariableColorEditTextActivity"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".widget.BaseActivity"
                android:label="@string/title_activity_base"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".toast.ToastActivity">
        </activity>
        <activity android:name=".elevation.ElevationActivity">
        </activity>
        <activity android:name=".FlexboxActivity">
        </activity>
        <activity
                android:name=".recycler.rcv2.RecylerViewActivity2"
                android:label="@string/title_activity_recyler_view2"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".frgexit.FrgActivity"/>
        <activity android:name=".recycler.rcv1.RecyclerViewActivity"/>
        <activity android:name=".statusbar.StatusBarActivity"/>
        <activity
                android:name=".keyboard.Keyboard2Activity"
                android:theme="@style/ActivityDialogTheme">
        </activity>
        <activity android:name=".map.MapJavaACtivity"/>
        <activity android:name=".keyboard.KeyboardActivity"/>
        <activity android:name=".kotlins.KotlinFunActivity"/>
        <activity android:name=".emoji.EmojiActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>